.texto{
    color: blue;
}

.datos{
    color: green;
}

.texto2{
    color: yellow;
}

.body{
    background-color: aqua;
}

.texto3{
    color: yellowgreen;
}

.footer {
    height: 3em;
    line-height: 3em;
    background-color: rgb(185, 112, 41);
    color: white;
    text-align: center;
    font-weight: 900;
    }
    